.board {
  width: 300px;
  height: 150px;

  border-radius: 20px;
  border: 1px solid #969696;
  background-color: #f1f1f1;

  padding: 20px;
  cursor: pointer;

  &sContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    padding-top: 32px;
  }

  & h4,
  p {
    margin: 0;
    color: #000000;
  }
}
