/* body{
	background-color: black;
	color: white;
} */
.boards-header{
	position: relative;
	/* margin-top: 30px; */
	text-align: center;
}
.logo-container{
	margin-top: 20px;
}
.logo-text{
	font-size: 50px;
}
.language-switch-button{
	position: absolute;
	left: 20px;
	top: 0;
}


.footer{
	/* text-align: center; */
	position: fixed;
	left: 34%;
	bottom: 0;
  display: grid;
  place-items: center;
	/* margin-top: 150px; */
}
.footer-navbar-container{
	background-color: white;
	display: flex;
	justify-content: space-around;
	width: 500px;
	height: 70px;
	border-radius: 30px 30px 0 0;
	z-index: 1;
	align-items: center;
}
.footer-button{
	background-color: white;
	border: none;
	cursor: pointer;
}
.footer-button:hover{
	background-color: rgb(193, 193, 193);
	transition: all ease 0.5s;
}

.boards-list-container{
	display: grid;
	justify-items: center;
	margin-top: 50px;
	font-size: 20px;
}
.boards-filter{
	display: flex;
	justify-content: space-between;
	width: 800px;
	margin-bottom: 30px;
}
.boards-filter-my-boards{
	/* width: 200px; */
}
.boards-filter-all{
	margin-right: 40px;
}
.board{
	display: flex;
	align-items: center;
	background-color: #242424;
	width: 820px;
	border-radius: 40px;
	height: auto;
	min-height: 40px;
	margin-bottom: 15px;
}
.board-name-container{
	margin-left: 10px;
	display: flex;
	align-items: center;
}
.board-name{
	width: 320px;
	margin-left: 40px;
}
.board-process{
	width: 190px;
}
.board-learn{
	width: 150px;
}
.create-board-button{
	position: fixed;
	left: 45%;
	bottom: 100px;
	font-size: 20px;
	padding: 10px 15px;
}