/* body{
	background-color: black;
	color: white;
} */
.boards-header{
	position: relative;
	/* margin-top: 30px; */
	text-align: center;
}
.logo-container{
	margin-top: 20px;
}
.logo-text{
	font-size: 50px;
}
.language-switch-button{
	position: absolute;
	left: 20px;
	top: 0;
}


.footer{
	/* text-align: center; */
	position: fixed;
	left: 34%;
	bottom: 0;
  display: grid;
  place-items: center;
	/* margin-top: 150px; */
}
.footer-navbar-container{
	background-color: white;
	display: flex;
	justify-content: space-around;
	width: 500px;
	height: 70px;
	border-radius: 30px 30px 0 0;
	z-index: 1;
	align-items: center;
}
.footer-button{
	background-color: white;
	border: none;
	cursor: pointer;
}
.footer-button:hover{
	background-color: rgb(193, 193, 193);
	transition: all ease 0.5s;
}