.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.container {
  min-width: 800px;
  min-height: 400px;
  background-color: #fff;
  position: relative;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
